.gitignore
.deps
.osc

xoscope
xoscope*.tar.gz
*.o
builtins.h
*~

configure
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
Makefile
Makefile.in
stamp-h1

xoscope.spec
